python-dotenv
setuptools
llama-index
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-milvus
llama-index-storage-docstore-mongodb
llama-index-storage-kvstore-redis
llama-index-storage-index-store-redis
llama-index-graph-stores-neo4j
llama-index-packs-neo4j-query-engine
llama-index-readers-file
llama-index-readers-json
llama-index-readers-mongodb
llama-index-extractors-entity
llama-index-tools-database
llama-index-tools-neo4j
llama-index-experimental
llama-index-llms-huggingface
llama-index-embeddings-langchain
llama-index-readers-database
llama-index-readers-milvus
llama-index-readers-obsidian
llama-index-readers-whisper
llama-index-readers-graphdb-cypher
llama-index-extractors-entity
llama-index-storage-index-store-elasticsearch
llama-index-storage-index-store-mongodb
llama-index-storage-docstore-elasticsearch
llama-index-storage-docstore-redis
llama-index-storage-kvstore-elasticsearch
llama-index-storage-kvstore-mongodb
llama-index-tools-requests
llama-index-tools-mcp
llama-index-multi-modal-llms-ollama
fastapi
uvicorn
pydantic
python-multipart
aiofiles
httpx
aiohttp
tiktoken
torch
sqlalchemy
pymssql
jinja2
pika
numpy
pandas
yomitoku
Pillow
PyMuPDF
opencv-python
pytesseract
ebooklib
markdown
chardet